allow kernel kcal_dev:dir relabelto;
allow kernel kcal_dev:file relabelto;
allow kernel kcal_dev:lnk_file relabelto;
allow kernel tmpfs:dir search;
allow kernel mnt_vendor_file:dir search;
allow kernel mnt_vendor_file:file { read open };
allow kernel kernel:security { setenforce };
allow kernel init:process { noatsecure };
allow kernel adsprpcd_file:dir search;
