dontaudit untrusted_app proc_vmstat:file { getattr open };

allow untrusted_app hal_memtrack_hwservice:hwservice_manager find;
allow untrusted_app rootfs:dir read;
